<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcherlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcherlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NmimsCanteenApp">
        <activity
            android:name=".auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.ChangePasswordActivity" />
        <activity
            android:name=".student.HomeActivity"
            android:exported="false" />
        <activity android:name=".auth.ForgotPasswordActivity" />
        <activity android:name=".auth.ResetPasswordActivity" />
        <activity
            android:name=".student.MenuActivity"
            android:parentActivityName=".student.HomeActivity" />
        <activity
            android:name=".student.MessMenuActivity"
            android:parentActivityName=".student.HomeActivity" />
        <activity android:name=".student.CartActivity" />
        <activity android:name=".student.OrderConfirmationActivity" />
        <activity android:name=".student.PaymentActivity" />
        <activity android:name=".auth.SignupActivity" />
        <activity android:name=".student.OrderHistoryActivity" />
        <activity android:name=".student.ProfileActivity" />
        <activity android:name=".admin.AdminLoginActivity" />
        <activity android:name=".admin.ForgotAdminPasswordActivity" />
        <activity android:name=".admin.ChangeAdminPasswordActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.AdminProfileActivity" />
        <activity android:name=".student.SupportActivity" />
        <activity android:name=".student.ComplaintActivity" />
        <activity android:name=".student.RulesActivity" />
        <activity android:name=".student.FAQActivity" />
        <activity android:name=".student.ContactSupportActivity" />
        <activity android:name=".admin.ManageMenuActivity" />
        <activity android:name=".admin.AddMenuItemActivity" />
        <activity android:name=".admin.AdminAnalyticsActivity" />
        <activity android:name=".student.SpecialItemActivity" />
    </application>

</manifest>
